<!--This is how to write a comment in html-->
<!--This file sits within 'views' directory that should contain all of our
presentation concerns,'views' is a standard naming format for housing
presentation concerns.

This is linked to the backend code via the line 'erb(:index)' which indicates
an erb file called 'index' (see app.rb for e.g.)-->



<div>
   <img src='http://bit.ly/1eze8aE' style='border: 4px solid pink'>
 </div>

 <h1>My name is <%= @name %></h1>

 <!--<h1>My name is <%=["Amigo", "Oscar", "Viking"].sample%></h1>-->
