<!--This is how to write a comment in html-->
<!--This file sits within 'views' directory that should contain all of our
presentation concerns,'views' is a standard naming format for housing
presentation concerns.

This is linked to the backend code via the line 'erb(:index)' which indicates
an erb file called 'index' (see app.rb for e.g.)-->

<div>
   <img src='http://bit.ly/1eze8aE' style='border: 4px solid pink'>
 </div>

<!--we can introduce ruby if statements using erb ice cream cone syntax.
The cones have to open and close before the html and cannot contain the html.
The below will only display the text 'my name is' if a value has
been added for the key name via the param.-->

<% if @name %>
 <h1>My name is <%= @name %></h1>
<% end %>

<form action="/named-cat" >
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>


