<!DOCTYPE html>
<html>
<head>
  <title>
    Battle!
  </title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row vertical-align text-center ">
      <div class="col-md-10 col-xs-8">
      <h1>Time to battle!! Fill in your names!</h1> 
        <form class="form-inline">
          <fieldset class="form-group">
            <label for="exampleInputEmail1">Player 1 name:</label>
            <input type="name" class="form-control" id="name_one" placeholder="Mug" required>
            <label for="exampleInputEmail1">Player 2 name:</label>
            <input type="name" class="form-control" id="name_two" placeholder="Monkey" required>
            <button type="button" class="btn btn-primary ">Submit</button>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
</body>
</html>


