<div>HELLOOOO ERB!</div>

<form action="/play" method="post">
	<label>Player 1</label>
	<input type="text" name="name_one" id="name_one">
	<label>Player 2</label>
	<input type="text" name="name_two" id="name_two">
	<input type="submit" value="Submit"> 
</form>
