<!DOCTYPE html>
<html>
<head>
  <title>
    Battle!
  </title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row vertical-align text-center ">
      <div class="col-md-10 col-xs-8">
      <h1>Time to battle!! Fill in your names!</h1> 
        <form class="form-inline" action="/names" method="post">
            <label for="name_one">Player 1 name:</label>
            <input type="text" class="form-control" name="name_one" placeholder="Mug" required>

            <label for="name_two">Player 2 name:</label>
            <input type="text" class="form-control" name="name_two" placeholder="Monkey" required>

            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        </div>
      </div>
    </div>
</body>
</html>


